/* This is main div with header section and main contect and footer section */
.main_container {
  width: 99vw;
  height: 68vh;
  border-radius: 8px;
  background-image: url("Media/green_background.jpg");
}
/* Ith is over all header section main di */
.header {
  color: #299b07;
  display: flex;
  width: auto;
  height: 120px;
  border: solid #299b07 1.5px;
  border-radius: 8px;
  margin-bottom: 15px;
  
}
/* it handles the logo img */
.header img {
  width: 120px;
  height: 120px;
  margin-left: 115px;
  margin-top: -5px;
  
}
form {
  text-align: center;
  
}
hr {
  width: 365px;
}


/* it handle the welcoming headings and company deails use in header section */
.header_heading {
  margin-left: 16%;
  
  text-align: center;
}
/* it handle the link use in header section (are you registered?) */
.sign_up_link {
  margin-top: 30px;
  margin-left: 150px;
}

/* It is over all main content div having form +img  */
.main_content {
  display:flex;
  margin-left: 185px;
  margin-top: -14px;
}

/* It handle the general properties of form */
.login_box form {
  width: 45vw;
  height: 58vh;
  padding-top: 20px;
  background-color: white;
  margin-top: 22px;
  margin-left: 180px;
  justify-content: space-around;
  border-radius: 5px;
}

/* It handle the label present in form */
form label {
  margin-left: -170px;
}
.email-label {
  margin-left: -180px
}
/* It handle the inputs used in form */
form input {
  margin-left: -5px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 3px;
  
  /* border-top: 0px;
  border-left: 0px;
  border-right: 0px; */
}
.login_heading {
  margin-left: 100px;
}
/* It handle the button used in form */
button {
  color: white;
  background-color:#299b07;
  border: solid white 1.5px;
  padding: 10px;
  border-radius: 5px;
}
button:hover{
  color:#299b07;
  background-color:white;
  border:solid #299b07 1.5px;
  padding: 10px;
  border-radius: 5px;
}

/* It handle the forget password link used in form */
a {
  margin-left: 5px;
  text-decoration: none;
}
.footer {
  width: auto;
  height: 50px;
  color: #299b07;
  text-align: center;
  margin-top: 1px;
  font-weight: bolder;
  border: solid #299b07 1.5px;
  padding: 3px;
  border-radius: 8px;
}
